### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

Options FollowSymLinks
RewriteEngine on
RewriteRule ^logowanie$ logowanie.php [L]
RewriteRule ^twoj-profil$ profil.php [L]
RewriteRule ^lista-obecnosci$ lista-obecnosci.php [L]
RewriteRule ^lista-statystyki$ lista-statystyki.php [L]
RewriteRule ^spotkanie$ spotkanie.php [L]
RewriteRule ^aktywnosci$ aktywnosci.php [L]
RewriteRule ^sprawdz-profil$ sprawdz-profil.php [L]
RewriteRule ^aktualizacja-profilow$ aktualizacja-profilow.php [L]
RewriteRule ^konto$ konto.php [L]
RewriteRule ^wyloguj$ wyloguj.php [L]

ErrorDocument 404 /404.php